<div class="is-french-container mb-3 ml-2">
    <div class="form-check">
        <input type="checkbox" class="form-check-input pr-2" id="isFrench" {{ isFrenchSelected == true ? 'checked' }}/>
        <label class="form-check-label" for="isFrench">Produits français uniquement</label>
    </div>
</div>
